<section class="order-block">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col col-sm-12">
                <div id='anchor'></div>
                <h2 class="order-block__h2">
                    PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US
                </h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div [formGroup]="orderForm" class="order-form">
            <!--LEFT PART begin --> 
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-6 border-right">
                    <!-- DATE & TIME begin -->
                    <h4 class="title-h4 title-h4__date col-md-9 offset-xl-1">
                            DATE & TIME
                    </h4>
                    <div class="inputs-position">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-4">
                                <div class=inputs-block>
                                    <div class="inputs">
                                        <input id="dateFrom1" class="input-date" 
                                                type="text" 
                                                name="dateFrom1"
                                                bsDatepicker 
                                                [bsConfig]="bsConfig"
                                                placeholder="Select date *" 
                                                [formControl]="dateFrom1" 
                                                maxlength="10"
                                                required> 
                                        <span class="input-img">
                                            <img src="../../../assets/images/calendar.png" alt="Calendar">
                                        </span>
                                    </div>
                                    <div [hidden]="dateFrom1.valid" class="error-txt">This field is required</div> 
                                </div>
                               

                            </div>
                            <div class="col-12 col-xl-5">
                                <div class=inputs-block>
                                    <div class="inputs" >
                                        <input class="input-date"  
                                                placeholder="Select time"
                                                type="text"   
                                                onfocus="(this.type='time')" 
                                                onblur="(this.type='text')"
                                                [formControl]="timeFrom1"
                                                maxlength="6"
                                                required>
                                        <span class="input-img">
                                            <img src="../../../assets/images/clock.png" alt="Time">
                                        </span>
                                    </div>
                                    <div [hidden]="timeFrom1.valid" class="error-txt">This field is required</div> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="inputs-position">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-4">
                                <div class="inputs" > 
                                    <input class="input-date" id="dateEnd" 
                                            type="text" 
                                            bsDatepicker 
                                            [bsConfig]="bsConfig"
                                            placeholder="Select date"
                                            [formControl]="dateEnd"> 
                                    <span class="input-img">
                                        <img src="../../../assets/images/calendar.png" alt="Calendar">
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-xl-5">
                                <div class="inputs" >
                                    <input class="input-date" 
                                            type="text"   
                                            onfocus="(this.type='time')" 
                                            onblur="(this.type='text')"
                                            placeholder="Select time"
                                            [formControl]="timeEnd">
                                    <span class="input-img">
                                        <img src="../../../assets/images/clock.png" alt="Time">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DATE & TIME end -->

                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-4">
                            <!-- STORE HOURS begin -->
                            <div class="works-block">
                                <h4 class="title-h4">
                                    Store Hours
                                </h4>
                                <div class="works-block__days">
                                        Mon - Wed
                                </div>
                                <div class="works-block__hours">
                                        08:00 AM - 05:00 PM
                                </div>
                                <div class="works-block__days">
                                        Thu
                                </div>
                                <div class="works-block__hours">
                                        08:00 AM - 04:00 PM
                                </div>
                                <div class="works-block__days">
                                        Fri
                                </div>
                                <div class="works-block__hours">
                                        08:00 AM - 01:00 PM
                                </div>
                                <div class="works-block__days">
                                        Sat
                                </div>
                                <div class="works-block__hours">
                                        CLose
                                </div>
                            </div>
                            <!-- STORE HOURS end -->
                        </div>
                        <div class="col-12 col-xl-5">
                            <!-- CHOOSE YOUR SERVICES begin -->
                            <div class="supports-block">
                                <h4 class="title-h4">
                                        Choose your services
                                    <span class="subtitle-grey">Please select the type of service(s) needed</span>
                                </h4>
                                
                                <div class="radio-block">
                                    <input id="transmission" class="radio" 
                                            type="radio" 
                                            name="supports" 
                                            value="transmission" 
                                            [formControl]="transmission">
                                    <label class="checkmark" for="transmission">Transmission</label>
                                </div>
                                <div class="radio-block">
                                    <input id="maintenance"  class="radio" 
                                            type="radio" 
                                            name="supports" 
                                            value="maintenance" 
                                            [formControl]="maintenance">
                                    <label class="checkmark" for="maintenance">Vehicle Maintenance</label>
                                </div>
                                <div class="radio-block">
                                    <input id="rapair" class="radio"
                                            type="radio" 
                                            name="supports" 
                                            value="repair" 
                                            [formControl]="rapair">
                                    <label class="checkmark" for="rapair">Vehicle Rapair</label>
                                </div>
                                <div class="radio-block">
                                    <input id="other" class="radio" 
                                            type="radio" 
                                            name="supports"
                                            value="other" 
                                            [formControl]="other"
                                            [value]="true">
                                    <label class="checkmark" for="other">Other</label>
                                </div>
                            </div>
                            <!-- CHOOSE YOUR SERVICES end -->
                        </div>
                    </div>
                </div>
            <!-- LEFT PART end -->

            <!-- RIGHT PART begin -->
                <div class="col-12 col-sm-12 col-lg-6">
                    <!-- YOUR VEHCLE begin -->
                    <div class="row  justify-content-center">
                        <h4 class="title-h4 title-h4__position col-xl-9 offset-xl-1">
                            Your Vehicle
                        </h4>
                        <div class="col-12 col-xl-4">
                            <div class="inputs-block">
                                <input type="number" 
                                        class="input-date"
                                        placeholder="YEAR OF CAR"
                                        [formControl]="carYear" 
                                        maxlength="10">
                            </div>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="inputs-block">
                                <div class="select-wrapper">
                                    <select class="input-date" 
                                            [formControl]="carModel">
                                        <option disabled [value]="" selected>SELECT YOUR CAR</option>
                                        <option *ngFor="let car of cars" 
                                                [value]="car">{{car}}</option>
                                    </select>
                                </div>
                                <div [hidden]="!isEmptyCarModel" class="error-txt">
                                    Please, select your car.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="message-wapper">
                                <input type="text" 
                                        class="input-message"
                                        placeholder="WRITE YOUR MESSAGE"
                                        [formControl]="message"
                                        maxlength="100">
                            </div>
                        </div>
                    </div>
                    <!-- YOUR VEHCLE end -->

                    <!-- PERSONAL DETAILS begin -->
                    <div>
                        <h4 class="title-h4 title-h4__personal col-xl-9 offset-xl-2">
                            PERSONAL DETAILS
                        </h4>
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-4">
                                <div class="inputs-block">
                                    <input type="text" 
                                            class="input-date"
                                            [formControl]="firstName" 
                                            placeholder="FIRST NAME">
                                        <div [hidden]="firstName.valid" class="error-txt">Enter your name</div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="inputs-block">
                                    <input type="text" 
                                            class="input-date" 
                                            [formControl]="lastName" 
                                            placeholder="SECOND NAME">
                                    <div [hidden]="lastName.valid" class="error-txt">Enter Last name</div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-4">
                                <div class="inputs-block">
                                    <input type="text" 
                                            [formControl]="email" 
                                            class="input-date" 
                                            placeholder="EMAIL">
                                    <div [hidden]="email.valid" class="error-txt">Email isn't valid</div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="inputs-block">
                                    <input type="text" 
                                            [formControl]="phone"
                                            class="input-date"
                                            placeholder="PHONE NUMBER"
                                            maxlength="10">
                                    <div [hidden]="phone.valid" class="error-txt">Enter your phone</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PERSONAL DETAILS end -->
    
                    <div class="btns-from">
                        <div class="row justify-content-between">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-4">
                                <div class="btn-clear">
                                    <button type="button" class="" (click)="clearData()">
                                        <div class="">CLEAR</div>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-4">
                                <div class="btn-send">
                                    <button type="button" 
                                            [disabled]="orderForm.invalid"
                                            (click)="sendData()">send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- RIGHT PART end -->
            </div>
        </div>
    </div>
    <!-- SIGN UP FOR SPECIAL OFFERS begin -->
    <div class="">
        <div class="conrainer-fluid border-top__grey">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-5">
                    <div class="special-block">
                        <h3 class="special-block__h3">
                                SIGN UP FOR SPECIAL OFFERS
                        </h3>
                        <div class="special-block__text">
                                <span>Enter your mail and you will get the best </span>
                                <span>offers we have directlly to your inbox</span>
                        </div>
                    </div>
                    <div [formGroup]="signUpForm" class="send-form">
                        <div class="inputs-block">
                            <input type="text" 
                                    class="input-offers" 
                                    placeholder="ENTER HERE YOUR EMAIL"
                                    [formControl]="emailSignUp" 
                                    required>
                            <div class="btn-send max-width__sned">
                                <button class="" 
                                        type="button"
                                        [disabled]="emailSignUp.invalid" 
                                        (click)="singUp()">
                                        SEND
                                </button>
                            </div>
                            <div [hidden]="emailSignUp.valid" class="error-txt error-position">Email isn't valid</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-12 col-lg-1">
                    <div class="line-wrapper">
                        <div class="line"></div>
                        <div class="line-txt">Or</div>
                        <div class="line"></div>
                    </div>
                </div>

                <div class="col-12 col-12 col-lg-6">
                    <div class="special-block">
                        <div class="h3 special-block__h3">
                                Tell to Your Friends
                        </div>
                        <div class="special-block__text">
                            <span>Some of your friends may like to visit if you </span>
                            <span>recommend us. They’ll trust your taste!</span>
                        </div>

                        <div class="socials">
                            <div class="row justify-content-center">
                                <div class="col col-2">
                                    <div class="fb">
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <div class="fb-wrapper">
                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                Share
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-2">
                                    <div class="twit">
                                        <a href="https://twitter.com/" target="_blank">
                                            <div class="twit-wrapper">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                                Tweet
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- SIGN UP FOR SPECIAL OFFERS end -->
</section>



