
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#">TRANSMISSION SERVICES</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">AUTO CARE & REPAIR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CORPORATE FLEET SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EXTENDED WARRANTY SERVICES</a>
        </li>
      </ul>
    </div>
  </nav>